
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style-main.css">
   
    <title><%= title %></title>
</head>
<body>
    <script>
        let gameInFront 
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/baseFunctions.js"></script>
    <script src="/js/messageHandler.js"></script>
    <script src="/js/socketio_all_com.js"></script>

    <div class="error" id="error-div"><p id="current_error"></p></div>
    <div class="warning" id="warning-div"><p id="current_warning"></p></div>
    <div class="message" id="message-div"><p id="current_message"></p></div>
    <%- body %>

</body>
<script src="/js/adjustView.js"></script>
</html>