<link rel="stylesheet" href="/css/megalodon.css">
<link rel="stylesheet" href="/css/board.css">



<div id="globGames" style="display: none;"><%= globalGames %></div>
<script>
    function genGames(globalGames) {
        const container = document.getElementById('chooseGameDiv')
        container.innerHTML = ''; // vorherigen Inhalt löschen

        globalGames.forEach((game, index) => {
            const h4 = document.createElement('h4');
            h4.className = 'gameOption';
            h4.textContent = game.name;
            // Click-Handler setzen
            h4.onclick = function () {
                setWantGame(index, this);
            };
            container.appendChild(h4);
        });
    }

    let globalGames = JSON.parse(document.getElementById("globGames").textContent)
    console.log(globalGames)
</script>

<div class="logon">
    <h1 class="title">Kugelfuhr</h1>

    <div class="welcome">
        <img src="/img/megalodon.svg" alt="MEGALODON"/>
        <h3>hai das ist der logon :)</h3>
    </div>

    <div class="game">
        <h3>Wähle ein Spiel zum Beitreten aus:</h3>
        <div class="chooseGame" id="chooseGameDiv">
            <h4 onclick="setWantGame(0, this)" class="gameOption">Game A</h4>
            <h4 onclick="setWantGame(1, this)" class="gameOption">Game B</h4>
        </div>
    </div>

    <div class="color">
        <h3>Wähle deine Farbe:</h3>
        <div class="chooseColor">
            <!-- Wenn eine Sphäre vergeben ist, kannst du ihr die Klasse .sphereGrey geben-->
             <!-- ILY <3-->
            <div onclick="setWantColor('Red', this)" class="sphereRed chooseSphere"></div>
            <div onclick="setWantColor('Blue', this)" class="sphereBlue chooseSphere"></div>
            <div onclick="setWantColor('Yellow', this)" class="sphereYellow chooseSphere"></div>
            <div onclick="setWantColor('Green', this)" class="sphereGreen chooseSphere"></div>
        </div>
    </div>

    <div class="name">
        <h3>Gib deinen Spielernamen ein:</h3>
        <input id="playerName" type="text" class="inpPlayerName" placeholder="Käpt'n Sharky" maxlength="12"/>
    </div>

    <button onclick="requestGameJoin()" class="joinBtn">Spiel beitreten</button>
</div>
<script src="/js/logonFunctions.js"></script>
<script>
    genGames(globalGames)
</script>
<!-- <script src="/js/gameNameGen.js"></script> -->