<link rel="stylesheet" href="/css/gameDied.css">
<body>
    <div class="shark-wrapper">
        <img src="/img/aww.png" class="sadShark"/>
        <img src="/img/aww_flossi.png" class="sadSharkFlossi"/>
        <p class="eh">Eh :(</p>
    </div>
    <p class="errorText">Es tut uns leid, das verkünden zu müssen, aber dein Spiel ist soeben gestorben.<br>
        Du kannst dich zum Startscreen weiterleiten lassen, oder hier eine Schweigeminute zu Ehren des verschwundenen Spieles einlegen.</p>
    <button class="redirectStartscreen" onclick="window.location.href='/index'">Zurück zum Startscreen</button>
</body>
