<link rel="stylesheet" href="/css/edge.css">
<link rel="stylesheet" href="/css/board.css">

<div style="text-align:center;">
    <h1 id="winGameName"></h1>
    <h2 style="text-decoration:underline;">Auswertung</h2>
    <img src="/img/partyshark.png" alt="Party Hai"/>
</div>



<script src="/js/winGen.js"></script>