@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barrio&family=Comfortaa:wght@700&display=swap");
.comfortaa, .right, .left {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.left {
  position: relative;
  width: calc((100% - 90vh) / 2);
  height: 95vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.left .title {
  text-decoration: underline;
  margin: 0;
  font-size: 2.25em;
}

.right {
  position: relative;
  width: calc((100% - 90vh) / 2);
  max-width: calc((100% - 90vh) / 2);
  height: 95vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  margin: 0;
  margin-bottom: 0.5em;
}

#hand {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  position: relative;
  height: 13.2cqw; /* genug Höhe für Karten */
}

.card {
  background-color: white;
  border: 2px solid rgb(151, 151, 151);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  width: 8cqw;
  height: 12cqw;
  position: absolute;
  transition: transform 0.5s;
  box-sizing: border-box;
}

.card:hover {
  transform: translateY(-1em) scale(1.05);
  z-index: 8 !important;
}

.card:not(:hover):not(.cardActive) {
  transition: none;
}

.cardActive {
  transform: translateY(-1em) scale(1.05);
  z-index: 7 !important;
}

.cardTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.1em;
}

.cardMid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 0.1em;
  box-sizing: border-box;
  align-items: center;
}

.cardBot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.1em;
}

.cardCorner {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardCorner p {
  font-size: 1.5em;
  margin: 0.05em;
  line-height: 1em;
}

.rotated {
  transform: rotate(180deg);
}

.red {
  color: red;
}

.black {
  color: black;
}

.ass {
  font-size: 6em;
  margin: 0;
}

.cardFontSize {
  font-size: 3.4em;
  margin: 0;
  padding: 0;
}
.cardFontSize p {
  margin: 0;
}

.cardMidBase, .four, .seven, .eight, .nine, .ten, .six, .five, .two, .three {
  height: 12cqw;
  margin: 0;
  padding: 10px 0;
  width: 100%;
}

.two, .three {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.four, .seven, .eight, .nine, .ten, .six, .five {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.four div, .seven div, .eight div, .nine div, .ten div, .six div, .five div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.1em;
}

.five {
  text-align: center;
}

.seven, .eight, .nine, .ten {
  line-height: 0.5;
  text-align: center;
}

.ablage {
  position: relative;
  margin: auto;
}

.ablageCard {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 2px solid rgb(151, 151, 151);
  border-radius: 5px;
  width: 8cqw;
  height: 12cqw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: none;
  box-sizing: border-box;
  cursor: pointer;
}

.ablageCardSpace {
  position: absolute;
}

.ablageCardSpace:nth-child(1) {
  transform: translate(-50%, -50%) rotate(-20deg);
  z-index: 1;
}

.ablageCardSpace:nth-child(2) {
  transform: translate(-50%, -50%) rotate(0deg);
  z-index: 2;
}

.ablageCardSpace:nth-child(3) {
  transform: translate(-50%, -50%) rotate(25deg);
  z-index: 3;
}

.hidden {
  display: none !important;
}

.playerTurn {
  margin: 0;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

#playerTurn {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 0.25em;
}

.playerList {
  margin: 0.75em 0;
}

#playerNames {
  padding: 0 1em;
}

#playerNameRed {
  color: #cb4c51;
}

#playerNameBlue {
  color: #206895;
}

#playerNameYellow {
  color: #ffb70f;
}

#playerNameGreen {
  color: #81ad3a;
}

.flowStep, .flowStepDone, .flowStepActiveGreen, .flowStepActiveYellow, .flowStepActiveBlue, .flowStepActiveRed {
  margin: 0.5em 0;
  padding: 0.75em;
  border: 2px solid #9a8a6e;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.stepNr {
  font-size: 3em;
  margin: 0;
  margin-right: 0.5em;
  font-family: "Barrio", system-ui;
  color: #9a8a6e;
}

.flowcontrol {
  margin-top: auto;
}

.stepInformation {
  width: 50%;
  border-left: 2px solid #dfc7a0;
  margin-left: auto;
  padding: 1em 0.5em;
  text-align: left;
}

.stepButton {
  background-color: #dfc7a0;
  border: 2px solid #9a8a6e;
  padding: 0.5em 1em;
  border-radius: 10px;
  font-family: Comfortaa;
}

.flowStepActiveRed {
  border: 2px solid #ff595e;
  background-color: #ffa2a5;
  transform: scale(1.02);
}
.flowStepActiveRed .stepInformation {
  width: 50%;
  border-left: 2px solid #ff595e;
  margin-left: auto;
  padding: 1em 0.5em;
  text-align: left;
}
.flowStepActiveRed .stepNr {
  font-size: 3em;
  margin: 0;
  margin-right: 0.5em;
  font-family: "Barrio", system-ui;
  color: #cb4c51;
}
.flowStepActiveRed .stepButton {
  background-color: #ff595e;
  border: 2px solid #cb4c51;
  padding: 0.5em 1em;
  border-radius: 10px;
  font-family: Comfortaa;
  transition: transform 0.5s ease, background-color 0.5s ease, border 0.5s ease;
}
.flowStepActiveRed .stepButton:hover {
  background-color: #ff595e;
  border: 2px solid #cb4c51;
  transform: scale(1.1);
}

.flowStepActiveBlue {
  border: 2px solid #1982c4;
  background-color: #78cbff;
  transform: scale(1.02);
}
.flowStepActiveBlue .stepInformation {
  width: 50%;
  border-left: 2px solid #1982c4;
  margin-left: auto;
  padding: 1em 0.5em;
  text-align: left;
}
.flowStepActiveBlue .stepNr {
  font-size: 3em;
  margin: 0;
  margin-right: 0.5em;
  font-family: "Barrio", system-ui;
  color: #206895;
}
.flowStepActiveBlue .stepButton {
  background-color: #1982c4;
  border: 2px solid #206895;
  padding: 0.5em 1em;
  border-radius: 10px;
  font-family: Comfortaa;
  transition: transform 0.5s ease, background-color 0.5s ease, border 0.5s ease;
}
.flowStepActiveBlue .stepButton:hover {
  background-color: #1982c4;
  border: 2px solid #206895;
  transform: scale(1.1);
}

.flowStepActiveYellow {
  border: 2px solid #ffca3a;
  background-color: #fff07d;
  transform: scale(1.02);
}
.flowStepActiveYellow .stepInformation {
  width: 50%;
  border-left: 2px solid #ffca3a;
  margin-left: auto;
  padding: 1em 0.5em;
  text-align: left;
}
.flowStepActiveYellow .stepNr {
  font-size: 3em;
  margin: 0;
  margin-right: 0.5em;
  font-family: "Barrio", system-ui;
  color: #ffb70f;
}
.flowStepActiveYellow .stepButton {
  background-color: #ffca3a;
  border: 2px solid #ffb70f;
  padding: 0.5em 1em;
  border-radius: 10px;
  font-family: Comfortaa;
  transition: transform 0.5s ease, background-color 0.5s ease, border 0.5s ease;
}
.flowStepActiveYellow .stepButton:hover {
  background-color: #ffca3a;
  border: 2px solid #ffb70f;
  transform: scale(1.1);
}

.flowStepActiveGreen {
  border: 2px solid #8ac926;
  background-color: #ccf983;
  transform: scale(1.02);
}
.flowStepActiveGreen .stepInformation {
  width: 50%;
  border-left: 2px solid #8ac926;
  margin-left: auto;
  padding: 1em 0.5em;
  text-align: left;
}
.flowStepActiveGreen .stepNr {
  font-size: 3em;
  margin: 0;
  margin-right: 0.5em;
  font-family: "Barrio", system-ui;
  color: #81ad3a;
}
.flowStepActiveGreen .stepButton {
  background-color: #8ac926;
  border: 2px solid #81ad3a;
  padding: 0.5em 1em;
  border-radius: 10px;
  font-family: Comfortaa;
  transition: transform 0.5s ease, background-color 0.5s ease, border 0.5s ease;
}
.flowStepActiveGreen .stepButton:hover {
  background-color: #8ac926;
  border: 2px solid #81ad3a;
  transform: scale(1.1);
}

.step3Btns {
  display: flex;
  flex-direction: row;
}

.flowStepDone {
  color: #9a8a6e;
  text-decoration: line-through;
  transform: scale(0.98);
}
.flowStepDone button {
  color: #9a8a6e;
}
.flowStepDone .stepInformation {
  width: 50%;
  border-left: 2px solid #dfc7a0;
  margin-left: auto;
  padding: 1em 0.5em;
  text-align: left;
}
.flowStepDone .stepNr {
  font-size: 3em;
  margin: 0;
  margin-right: 0.5em;
  font-family: "Barrio", system-ui;
  color: #9a8a6e;
}

.margin1em {
  margin-right: 0.5em;
}

#exchangeCard {
  z-index: 1000;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttonBase, .buttonYellow, .buttonGreen, .buttonBlue, .buttonRed {
  padding: 0.5em 1em;
  border-radius: 10px;
  font-family: Comfortaa;
  transition: transform 0.5s ease, background-color 0.5s ease, border 0.5s ease;
}

.buttonRed {
  background-color: #ffa2a5;
  border: 2px solid #ff595e;
}

.buttonBlue {
  background-color: #78cbff;
  border: 2px solid #1982c4;
}

.buttonGreen {
  background-color: #ccf983;
  border: 2px solid #8ac926;
}

.buttonYellow {
  background-color: #fff07d;
  border: 2px solid #ffca3a;
}/*# sourceMappingURL=edge.css.map */