$red: #ff595e;
$matred: #ffa2a5;
$darkred: #cb4c51;
$yellow: #ffca3a;
$matyellow: #fff07d;
$darkyellow: #ffb70f;
$blue: #1982c4;
$matblue: #78cbff;
$darkblue: #206895;
$green: #8ac926;
$matgreen: #ccf983;
$darkgreen: #81ad3a;
$matpurple: #8b7450;
$purple: #68583e;
$background: #ffeac9;
$point: #dfc7a0;
$border: #9a8a6e;
$d: 25px;

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");

.comfortaa {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.left {
  @extend .comfortaa;
  position: relative;
  width: calc((100% - 90vh) / 2);
  height: 95vh;
  padding: 1em;

  .title {
    text-decoration: underline;
    margin: 0;
    font-size: 2.25em;
  }
}
.right {
  @extend .comfortaa;
  position: relative;
  width: calc((100% - 90vh) / 2);
  max-width: calc((100% - 90vh) / 2);
  height: 95vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#hand {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  position: relative;
  height: calc(8cqw * 1.8); /* genug Höhe für Karten */
}

.card {
  background-color: white;
  border: 2px solid rgb(151, 151, 151);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  width: 8cqw;
  height: calc(8cqw * 1.5);
  position: absolute;
  transition: transform 0.5s;
  box-sizing: border-box;
  
}
.card:hover {
  transform: translateY(-1em) scale(1.05);
  z-index: 7 !important; 
}

.card:not(:hover):not(.cardActive) {
  transition: none;
}

.cardActive {
  transform: translateY(-1em) scale(1.05);
  z-index: 7 !important; 
}
.cardTop{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.1em;
}
.cardMid{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;           
  padding: 0.1em;   
  box-sizing: border-box;
  align-items: center;
}
.cardBot{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.1em;
}
.cardCorner{
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  p{
    font-size: 1.5em;
    margin: 0.05em;
    line-height: 1em;
  }
}
.rotated{
  transform: rotate(180deg);
}
.red{
  color: red;
}
.black{
  color: black;
}
.ass{
  font-size: 6em;
  margin:0;
}
.cardFontSize{
  font-size: 3.4em;
  margin:0;
  padding: 0;
  p{
    margin: 0;
  }
}
.cardMidBase{
  height: calc(8cqw * 1.5);
  margin: 0;
  padding: 10px 0;
  width: 100%;
}
.two{
  @extend .cardMidBase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.three{
  @extend .two;
}

.four{
  @extend .cardMidBase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.1em;
  }
}
.five{
  @extend .four;
  text-align: center;
}

.six{
  @extend .four;
}

.seven{
  @extend .four;

  line-height: 0.5;
  text-align: center;
}

.eight{
  @extend .seven;
}
.nine{
  @extend .eight;
}

.ten{
  @extend .nine;
}


//ABlage
.ablage{
  position:relative;
  margin: auto;
}
.ablageCard {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 2px solid rgb(151, 151, 151);
  border-radius: 5px;
  width: 8cqw;
  height: calc(8cqw * 1.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
   transition: none;
  box-sizing: border-box;
  cursor: pointer;
}

// .ablageCard:hover {
//   transform: translate(-50%, calc(-50% - 1em)) scale(1.05); 
//   z-index: 7 !important;
// }

// .ablageCard:not(:hover) {
//   transition: none;
// }

.ablageCardSpace{
  position: absolute;
}
.ablageCardSpace:nth-child(1) {
  transform: translate(-50%, -50%) rotate(-20deg);
  z-index: 1;
}
.ablageCardSpace:nth-child(2) {
  transform: translate(-50%, -50%) rotate(0deg);
  z-index: 2;
}
.ablageCardSpace:nth-child(3) {
  transform: translate(-50%, -50%) rotate(25deg);
  z-index: 3;
}

.hidden{
  display: none !important;
}