$red: #ff595e;
$matred: #ffa2a5;
$darkred: #cb4c51;
$yellow: #ffca3a;
$matyellow: #fff07d;
$darkyellow: #ffb70f;
$blue: #1982c4;
$matblue: #78cbff;
$darkblue: #206895;
$green: #8ac926;
$matgreen: #ccf983;
$darkgreen: #81ad3a;
$matpurple: #8b7450;
$purple: #68583e;
$background: #ffeac9;
$point: #dfc7a0;
$border: #9a8a6e;
$d: 25px;


@import url("https://fonts.googleapis.com/css2?family=Barrio&family=Comfortaa:wght@700&display=swap");

.comfortaa {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.barrio-regular {
  font-family: "Barrio", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: $background;
  font-family: "Comfortaa";
}
.logon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.title {
  text-decoration: underline;
  margin: 0 0 2em 0;
  font-size: 2.25em;
  text-align: center;
}

.welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  h3 {
    font-family: "Barrio";
    background-color: white;
    border-radius: 50px;
    padding: 1em;
  }
}

.chooseColor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.chooseSphere{
    animation: none !important;
    transform: scale(1) !important;
}
.game{
  height: 20vh;
  display: flex;
  flex-direction: column;
}
.chooseGame{
  max-height: 70%;
  overflow-y: auto;
  justify-items: center;
  scrollbar-width: thin;     
  scrollbar-color: $border transparent; 
}
.gameOption{
  border-radius: 10px;
  background-color: $point;
  padding: 0.5em;
  margin: 0.25em;
  width: 75%;
}
.gameOption:hover{
  background-color: $border;
}
.chosenGame{
  background-color: $border
}

.chooseGame::-webkit-scrollbar {
  width: 1em;             
}

.chooseGame::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

.chooseGame::-webkit-scrollbar-thumb {
  background: $border;
  border-radius: 10px;
}

.chooseGame::-webkit-scrollbar-thumb:hover {
  background: $purple;
}

.colorChoosen{
  outline: 6px solid $point;
  box-shadow: 0 0 0 12px $background !important;
}

.inpPlayerName{
  background-color: $point;
  border-radius: 10px;
  border: 2px solid $border;
  color: $purple;
  padding: 0.25em;
  font-family: Comfortaa;
  margin: 1em;
  margin-top: 0;
}
.inpPlayerName:focus{
  border: 2px solid $border;
  outline: 3px solid $point;
  box-shadow: 0 0 0 6px $background !important;
}
.inpPlayerName::placeholder{
  color: $background;
  font-family: Comfortaa;
}
.joinBtn{
  background-color: $point;
  border-radius: 7.5px;
  border: 3px solid $border;
  color: $purple;
  padding: 0.25em;
  font-family: Comfortaa;
  margin: 1em;
  transition: 
    border 0.2s ease, 
    box-shadow 0.2s ease 0.2s;
}
.joinBtn:hover{
  border: 3px solid $red;
  box-shadow:
    0 0 0 3px $blue,
    0 0 0 6px $yellow, 
    0 0 0 9px $green;
}